@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: 
            local('Open Sans'), 
            local('OpenSans-Regular'), 
            url(Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
body p{
font-family: 'Open Sans',Arial,sans-serif;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: 
            local('Open Sans'), 
            local('OpenSans-Bold'), 
            url(Open_Sans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: 
            local('Play'), 
            local('Play-Regular'), /yourfontfolder/RacingSansOne-Regular.ttf
            url(Play/Play-Regular.ttf) format('truetype');
}



.podnaslovi,h1,h2,h3,h4,h5,h6{
font-family: 'Play',Verdana,sans-serif;
}