
.icon-videocam-2:before { content: '\e800'; } /* '' */
.icon-video-alt:before { content: '\e801'; } /* '' */
.icon-videocam:before { content: '\e802'; } /* '' */
.icon-movie:before { content: '\e804'; } /* '' */
.icon-videocam-1:before { content: '\e805'; } /* '' */