
.icon-soccer-ball:before { content: '\e800'; } /* '' */
.icon-bank:before { content: '\e801'; } /* '' */
.icon-graduation-cap:before { content: '\e802'; } /* '' */
.icon-fork:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-cogs:before { content: '\e807'; } /* '' */
.icon-wrench:before { content: '\e808'; } /* '' */
.icon-laptop-1:before { content: '\e809'; } /* '' */
.icon-desktop:before { content: '\e80a'; } /* '' */
.icon-inbox:before { content: '\e80b'; } /* '' */
.icon-cog-1:before { content: '\e80c'; } /* '' */
.icon-database:before { content: '\e80d'; } /* '' */
.icon-desktop-1:before { content: '\e80e'; } /* '' */
.icon-mobile:before { content: '\e80f'; } /* '' */
.icon-shop:before { content: '\e810'; } /* '' */
.icon-mail-1:before { content: '\e811'; } /* '' */
.icon-archive:before { content: '\e812'; } /* '' */
.icon-cog-2:before { content: '\e813'; } /* '' */
.icon-th-list:before { content: '\e814'; } /* '' */
.icon-tablet:before { content: '\e815'; } /* '' */
.icon-mobile-1:before { content: '\e816'; } /* '' */
.icon-desktop-2:before { content: '\e817'; } /* '' */
.icon-sitemap:before { content: '\e818'; } /* '' */
.icon-building:before { content: '\e819'; } /* '' */
.icon-database-1:before { content: '\e81a'; } /* '' */
.icon-html5:before { content: '\e81b'; } /* '' */
.icon-quote:before { content: '\e81c'; } /* '' */
.icon-flow-branch:before { content: '\e81d'; } /* '' */
.icon-flow-parallel:before { content: '\e81e'; } /* '' */
.icon-graduation-cap-1:before { content: '\e81f'; } /* '' */
.icon-database-2:before { content: '\e820'; } /* '' */
.icon-flow-cascade:before { content: '\e821'; } /* '' */
.icon-users:before { content: '\e822'; } /* '' */
.icon-plug:before { content: '\e823'; } /* '' */
.icon-desktop-3:before { content: '\e824'; } /* '' */
.icon-laptop-2:before { content: '\e825'; } /* '' */
.icon-tablet-1:before { content: '\e826'; } /* '' */
.icon-mobile-2:before { content: '\e827'; } /* '' */
.icon-globe-alt-outline:before { content: '\e828'; } /* '' */
.icon-globe-alt:before { content: '\e829'; } /* '' */
.icon-flow-split:before { content: '\e82a'; } /* '' */
.icon-cog-outline:before { content: '\e82b'; } /* '' */
.icon-cog-alt:before { content: '\e82c'; } /* '' */
.icon-cog-5:before { content: '\e82d'; } /* '' */
.icon-wrench-1:before { content: '\e82e'; } /* '' */
.icon-cancel:before { content: '\e82f'; } /* '' */
.icon-search:before { content: '\e830'; } /* '' */
.icon-users-1:before { content: '\e831'; } /* '' */
.icon-home-outline:before { content: '\e832'; } /* '' */
.icon-cog-4:before { content: '\e833'; } /* '' */
.icon-menu:before { content: '\e834'; } /* '' */
.icon-flow-parallel-1:before { content: '\e835'; } /* '' */
.icon-chart-bar:before { content: '\e836'; } /* '' */
.icon-call:before { content: '\e837'; } /* '' */
.icon-email:before { content: '\e838'; } /* '' */
.icon-group:before { content: '\e839'; } /* '' */
.icon-group-circled:before { content: '\e83a'; } /* '' */
.icon-download-alt:before { content: '\e83b'; } /* '' */
.icon-phone:before { content: '\e83c'; } /* '' */
.icon-commerical-building:before { content: '\e83d'; } /* '' */
.icon-college:before { content: '\e83e'; } /* '' */
.icon-library:before { content: '\e83f'; } /* '' */
.icon-up-open:before { content: '\e840'; } /* '' */
.icon-right-open:before { content: '\e841'; } /* '' */
.icon-down-open:before { content: '\e842'; } /* '' */
.icon-left-open:before { content: '\e843'; } /* '' */
.icon-down-open-big:before { content: '\e844'; } /* '' */
.icon-left-open-big:before { content: '\e845'; } /* '' */
.icon-right-open-big:before { content: '\e846'; } /* '' */
.icon-up-open-big:before { content: '\e847'; } /* '' */
.icon-mail-2:before { content: '\e848'; } /* '' */
.icon-building-filled:before { content: '\e849'; } /* '' */
.icon-globe:before { content: '\e84a'; } /* '' */
.icon-location:before { content: '\e84b'; } /* '' */
.icon-menu-1:before { content: '\e84c'; } /* '' */
.icon-location-1:before { content: '\e84d'; } /* '' */
.icon-location-alt:before { content: '\e84e'; } /* '' */
.icon-videocam:before { content: '\e84f'; } /* '' */
.icon-video:before { content: '\e850'; } /* '' */
.icon-file-pdf:before { content: '\e851'; } /* '' */
.icon-file-word:before { content: '\e852'; } /* '' */
.icon-down-open-1:before { content: '\e853'; } /* '' */
.icon-left-open-1:before { content: '\e854'; } /* '' */
.icon-right-open-1:before { content: '\e855'; } /* '' */
.icon-up-open-1:before { content: '\e856'; } /* '' */
.icon-video-1:before { content: '\e857'; } /* '' */
.icon-down-open-2:before { content: '\e858'; } /* '' */
.icon-left-open-2:before { content: '\e859'; } /* '' */
.icon-right-open-2:before { content: '\e85a'; } /* '' */
.icon-up-open-2:before { content: '\e85b'; } /* '' */
.icon-battery:before { content: '\e85c'; } /* '' */
.icon-movie:before { content: '\e85d'; } /* '' */
.icon-camera:before { content: '\e85e'; } /* '' */
.icon-videocam-1:before { content: '\e85f'; } /* '' */
.icon-th-thumb:before { content: '\e860'; } /* '' */
.icon-th-thumb-empty:before { content: '\e861'; } /* '' */
.icon-facebook-squared:before { content: '\e862'; } /* '' */
.icon-videocam-2:before { content: '\e863'; } /* '' */
.icon-home:before { content: '\e864'; } /* '' */
.icon-mail-3:before { content: '\e865'; } /* '' */